name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: 'maven'
    
    - name: Build & test
      run: mvn -B -ntp -f application/pom.xml verify
    
    - name: Build Docker image
      run: docker build application --file application/Dockerfile --tag cinenow:${{ github.sha }}